body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/dark-triangles.png');
  background-size: cover;
  color: #333;
}

#quiz-area {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}
